*{
  margin:0;
  padding:0;
  text-decoration: none;
}

body {
  background: #dae7f7;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #F2AC86;
  opacity: 70%;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  display: flex;
  font-size: 20px;
  font-weight: semi-bold;
}
.bars{

  display: flex;
  font-size: 25px;


 
}
.link{
  display: flex;
  color: #fff;
  padding: 12px 25px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:#fff;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: #fff;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}




.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 { left: 35%;
  position: relative;
  font-family: 'Damion', cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  color: #fff;
}

.swipe {
  position: absolute;
}

.cardContainer {
  border-radius: 30px;
  width: 90vw;
  max-width: 600px;
  height: 150px;
margin-left: 400px;
position: relative;
top: 100px;
  box-shadow:   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.card {


  align-self: center;
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 600px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-size: cover;

}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {

}

.card h3 {
  font-size:32px;
  font-family: 'Damion', cursive;
  position: absolute;
  text-align: center;
  margin: 10px;
  color: #F2AC86;
}

.infoText {
  width: 100%;
  height: 28px;
  top: 100px;
  position: relative;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  
  position: relative;
  margin-left: 400px;
  margin: 20px;
 
}

.buttons button {
  left: 30%;
  top:100px;
  position: relative;

  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 0 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}